<footer>
  <section class="left-footer">
    <a href="href="https://maps.google.com/?q=-7.7160212,113.5269261" target="_blank"">
      <iframe
        src="https://maps.google.com/maps?q=-7.7160212,113.5269261&z=17&output=embed"
        width="100%"
        style="border: 0"
        loading="lazy"
      >
      </iframe>
    </a>
  </section>
  <section class="center-footer">
    <div>
      <h3>Jam Operasional Berkunjung</h3>
      <p>Senin - Sabtu dari Jam</p>
      <p>08:00 - 16:00 Wib</p>
    </div>
    <div>
      <h3>Informasi Kontak</h3>
      <address>
        Barokah Jaya Farm <br />
        Gang Masjid Nurul Hasan RT 31/RW 09 <br />
        Dusun Pesisir, Desa Sumberanyar <br />
        Kec. Paiton, Kabupaten Probolinggo <br />
        Jawa Timur 67291 <br /><br />

        Tel / WhatsApp : 085330207559 <br />
        Email : info@barokahjayafarm.com
      </address>
    </div>
  </section>
  <section class="right-footer">
    <div>
      <h3>Akses Menu:</h3>
      <nav>
        <ul>
          <li><a href="index.html">Beranda</a></li>
          <li><a href="tentang.html">Tentang Kami</a></li>
          <li><a href="produk.html">Produk</a></li>
          <li><a href="">Galeri</a></li>
          <li><a href="">Artikel</a></li>
          <li><a href="">Testimoni</a></li>
        </ul>
      </nav>
    </div>

    <a href="#" class="order-button">Pemesanan Online</a>
  </section>
  <section class="bottom-footer">
    <p>&copy;2025 - santrehNgoding - Barokah Jaya Farm</p>
  </section>
</footer>
