<nav class="navigation">
  <div class="top-navigation">
    <p>
      <a href="https://wa.me/085330207559">Chat on WhatsApp</a> |
      <a href="https://t.me/yanto87">Telegram</a>
    </p>
    <div class="sosmed-container">
      <div class="sosmed-toggle" id="sosmedToggle">
        <i class="fa-solid fa-share-nodes"></i>
      </div>

      <div class="sosmed" id="sosmedMenu">
        <a href="https://facebook.com/Yanto" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://t.me/yanto87">
          <i class="fa-brands fa-telegram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="bottom-navigation">
    <img src="images/logo.png" alt="" width="70px" />

    <!-- Burger Button -->
    <div class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu">
      <a href="index.html">Beranda</a>
      <a href="tentang.html">Tentang Kami</a>
      <a href="produk.html">Produk</a>
      <a href="article.html">Artikel</a>
      <a href="index.html#testimoni">Testimoni</a>
    </div>
  </div>
</nav>
